<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Smartphone Shop</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/cellphones">Cellphones</a></li>
            <li><a href="/xiaomi">Xiaomi</a></li>
            <li><a href="/smart-home-and-gadgets">Smart home and gadgets</a></li>
            <li><a href="/on-sale">SALE</a></li>
        </ul>
    </div>
</nav>